{% extends "base/base.html" %}
{% load static %}

{% block 'title' %}Senha Redefinida{% endblock %}

{% block 'head' %}
  <link rel="stylesheet" href="{% static 'auteticacao/css/style.css' %}">
{% endblock %}

{% block content %}
<div class="container login-container">
  <div class="col-12 col-md-6 col-lg-4">
    <div class="card login-card">
      <div class="card-body text-center">

        <h2 class="mb-4 login-title">Senha alterada com sucesso!</h2>

        <p class="text-muted">
          Sua senha foi redefinida. Agora você já pode acessar sua conta normalmente.
        </p>

        <div class="mt-4">
          <a href="{% url 'login' %}" class="btn btn-success w-100 login-btn">Ir para o login</a>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
